In [51]:
import pandas as pd
from pycaret.regression import setup, compare_models, blend_models, finalize_model, plot_model, predict_model, add_metric, evaluate_model,tune_model
import random

VERSION = "baseline_v0"

def preprocess(df):
    
    df['day'] = df["dates"].dt.dayofweek
    df['week'] = df["dates"].dt.isocalendar().week
    df['year'] = df["dates"].dt.year
    df['month'] = df["dates"].dt.month
    
    return df

In [52]:
train = pd.concat([pd.read_csv("second_group_sku.csv", parse_dates=["dates"]), pd.read_csv("first_group_sku.csv", parse_dates=["dates"]),
                   pd.read_csv("third_group_sku.csv", parse_dates=["dates"])]).sort_values(by = ["dates","SKU"])

target = "price_per_sku"
FEATURES = [c for c in main_train_data.columns if c not in ['dates', "num_purchases", target]]

train = train.dropna(subset=[target])
train = train.reset_index().drop(['index'], axis = 1)
test = pd.read_csv("test.csv", parse_dates=["dates"]).sort_values(by = ["dates","SKU"])

In [53]:
main_train_data = preprocess(train)
main_test_data = preprocess(test)

In [54]:
main_train_data

          dates    SKU  price_per_sku  num_purchases  day  week  year  month
0    2018-01-17  60870        109.182              7    2     3  2018      1
1    2018-01-18  60870        109.182              7    3     3  2018      1
2    2018-01-19  60870        109.182              8    4     3  2018      1
3    2018-01-21  60870        109.182              7    6     3  2018      1
4    2018-01-22  60870        109.315              8    0     4  2018      1
...         ...    ...            ...            ...  ...   ...   ...    ...
6694 2019-12-23  38767         74.536              7    0    52  2019     12
6695 2019-12-23  80631         92.257              5    0    52  2019     12
6696 2019-12-23  84395        140.815             10    0    52  2019     12
6697 2019-12-24  10334        101.094              9    1    52  2019     12
6698 2019-12-24  49661        165.978              8    1    52  2019     12

[6699 rows x 8 columns]

In [57]:
setup(data=main_train_data.drop(['dates', "num_purchases"], axis = 1),
          target=target,
          fold = 5)

best_models  = compare_models(sort = 'RMSE', n_select = 3)

blender = blend_models(estimator_list=best_models)

tuned_blender = tune_model(blender)

pred = predict_model(tuned_blender, data= main_test_data.drop(['dates'], axis = 1))

Fitting 5 folds for each of 10 candidates, totalling 50 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [56]:
pred

       SKU  day  week  year  month  prediction_label
0    98255    0    51  2018     12         66.848859
1    98255    4    51  2018     12         66.925391
2    98255    5    51  2018     12         66.887894
3    98255    6    51  2018     12         66.903453
4    98255    0    52  2018     12         67.059008
..     ...  ...   ...   ...    ...               ...
170  80631    1     1  2019     12         86.265813
166  83329    1     1  2019     12         82.108742
172  84395    1     1  2019     12        134.420586
162  89272    1     1  2019     12        119.951156
169  90611    1     1  2019     12         80.883911

[175 rows x 6 columns]

In [58]:
pred['dates'] = main_test_data['dates']
pred = pred.sort_values(by=["dates"])
pred = pred.rename(columns={"prediction_label":"price_per_sku"}).reset_index()
pred[['dates', 'SKU', 'price_per_sku']].to_csv(f'{VERSION}.csv', index=False)

In [59]:
pred

     index    SKU  day  week  year  month  price_per_sku      dates
0        0  98255    0    51  2018     12      67.008377 2018-12-17
1        1  98255    4    51  2018     12      67.030037 2018-12-21
2        2  98255    5    51  2018     12      67.021258 2018-12-22
3        3  98255    6    51  2018     12      67.034671 2018-12-23
4        4  98255    0    52  2018     12      67.278432 2018-12-24
..     ...    ...  ...   ...   ...    ...            ...        ...
170    171  19632    1     1  2019     12     148.203630 2019-12-31
171    165  17812    1     1  2019     12      72.863926 2019-12-31
172    168  10334    1     1  2019     12      96.588445 2019-12-31
173    174  49661    1     1  2019     12     159.257009 2019-12-31
174    169  90611    1     1  2019     12      80.545624 2019-12-31

[175 rows x 8 columns]