In [39]:
import pandas as pd
from pycaret.regression import setup, compare_models, blend_models, finalize_model, plot_model, predict_model, add_metric, evaluate_model,tune_model
import random

VERSION = "merge_baseline_blend_id_v5"

In [40]:
def preprocess(df):
    
    df['year'] = df["timestamp"].dt.year
    df['month'] = df["timestamp"].dt.month
    
    return df

In [41]:
main_train_data = pd.read_csv("HW_train_main_data.csv", parse_dates=["timestamp"])
main_test_data = pd.read_csv("HW_test_main_data.csv", parse_dates=["timestamp"])

main_train_data = main_train_data.sort_values(by=["timestamp"])
main_test_data = main_test_data.sort_values(by=["timestamp"])

add_train_data = pd.read_csv("HW_train_additional_data.csv")
add_test_data = pd.read_csv("HW_test_additional_data.csv")

In [42]:
main_train_data = main_train_data.merge(add_train_data, on="id")
main_test_data = main_test_data.merge(add_test_data, on="id")

main_train_data = preprocess(main_train_data)
main_test_data = preprocess(main_test_data)

In [43]:
setup(data=main_train_data,
          target="price",
          fold = 5)

best_models  = compare_models(sort = 'RMSE', n_select = 3)

blender = blend_models(estimator_list=best_models)

tuned_blender = tune_model(blender)

pred = predict_model(tuned_blender, data= main_test_data)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

In [44]:
pred

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,...,office_num,green_part,prom_part,cafe_count,church_facilities,mosque,leisure_facilities,year,month,prediction_label
0,63119,2011-10-08,34,19.0,8.0,NaN,NaN,NaN,NaN,NaN,...,1,2.750000,0.04,0,0,0,0,2011,10,4.353046e+06
1,53004,2011-10-14,35,20.0,11.0,NaN,NaN,NaN,NaN,NaN,...,24,8.030000,0.00,1,0,0,0,2011,10,5.418495e+06
2,78624,2011-10-23,44,28.0,2.0,NaN,NaN,NaN,NaN,NaN,...,5,50.290001,0.00,1,0,0,1,2011,10,5.021054e+06
3,35365,2011-10-28,41,20.0,12.0,NaN,NaN,NaN,NaN,NaN,...,5,17.290001,0.00,1,1,0,0,2011,10,6.212918e+06
4,25243,2011-10-30,77,45.0,11.0,NaN,NaN,NaN,NaN,NaN,...,2,13.470000,13.22,3,0,0,2,2011,10,9.326027e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,22160,2015-07-05,31,1.0,4.0,17.0,1.0,2015.0,2.0,1.0,...,141,12.240000,0.00,71,15,0,0,2015,7,3.858371e+06
996,62292,2015-07-09,58,29.0,13.0,14.0,1.0,2001.0,2.0,11.0,...,0,2.630000,0.00,2,0,0,0,2015,7,1.065153e+07
997,94819,2015-07-13,48,1.0,8.0,1.0,1.0,2016.0,1.0,1.0,...,6,3.470000,56.84,2,1,0,0,2015,7,9.314626e+06
998,63348,2015-07-17,86,NaN,12.0,17.0,1.0,NaN,3.0,1.0,...,0,15.290000,2.83,1,0,0,0,2015,7,9.894186e+06
999,28982,2015-07-24,46,1.0,6.0,15.0,6.0,2015.0,1.0,1.0,...,4,94.400002,0.00,0,0,0,0,2015,7,5.659459e+06

In [45]:
pred = pred.sort_values(by=["id"])
pred = pred.rename(columns={"prediction_label":"predicted_price"}).reset_index()
pred[['id', "predicted_price"]].to_csv(f'{VERSION}.csv', index=False)